name: Test LocalGov Drupal

on:
  push:
    branches:
      - php*
  pull_request:
    branches:
      - php*

jobs:
  test:
    name: Build and test LocalGov Drupal
    runs-on: ubuntu-latest
    
    
    strategy:
      fail-fast: false
      matrix:
        localgov-version:
          - '3.x'

    steps:

      - name: setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'

      - uses: actions/checkout@v2

      - name: Create LocalGov Drupal project
        run: composer create-project --stability dev localgovdrupal/localgov-project ./html "${{ matrix.localgov-version }}"

      - name: Start Docker environment
        run: docker-compose up -d

      - name: Run tests
        run: ./run-tests.sh
        shell: bash
